<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Add-Usuario/stylesAddUsuario.css">
    <title>Dr. Paws - Información de mascotas</title>

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <!-- Fin del Font  -->

    <!-- Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fin del Footer-->
</head>

<!-- Header -->
<header>
    <a href="/" class="logo">DR.PAWS</a>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/porqueNosotros">About</a></li>
        <li><a href="/loginVeterinario">Login Administrativo</a></li>
        <li><a href="/loginUsuario">Login Usuario</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>
<!-- Fin del Header -->

<body>
<div class="container">
    <form th:object="${usuario}" th:action="@{/usuario/agregar}" th:method="post">
        <div class="titulo">Registro del usuario</div>
        <div class="user-details">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input th:field="*{nombre}" type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input th:field="*{correo}" type="text" class="form-control" id="correo">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input th:field="*{contraseña}" type="password" class="form-control" id="contraseña">
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input th:field="*{celular}" type="text" class="form-control" id="celular">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
    <div class="footer-content">
        <div class="social-media">
            <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
        </div>

        <div class="footer-links">
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="/porqueNosotros">About</a>
            <a href="#">Testimonios</a>
        </div>

        <div class="footer-contact">
            <p>Teléfono: (123) 456-7890</p>
            <p>Email: woof-woof@veterinariadrpaws.com</p>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
    </div>
</footer>
<!-- Fin del Footer-->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.querySelector('.table-container');
        console.log("Altura del contenedor:", container.scrollHeight);
        console.log("Altura visible:", container.clientHeight);
        console.log("Diferencia (esto debe ser cercano al desplazamiento máximo):", container.scrollHeight - container.clientHeight);
    });
</script>

</body>
</html>