<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - DR.PAWS</title>
    <link rel="stylesheet" href="/LogIn-Usuario/styleLogInUser.css">

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <!-- Fin del Font  -->

    <!-- Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fin del Footer-->
</head>
<body>
<!-- Header -->
<header>
    <a href="/" class="logo">DR.PAWS</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="" class="active">Login</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>

<!-- Mensaje de Error -->
<div th:if="${error}" id="error-box">
    <p>ID incorrecto.</p>
</div>

<!-- Cuerpo de la página (formulario de login de usuario) -->
<div class="login-container">
    <h2>Iniciar sesión Usuario</h2>
    <form action="#" method="post" th:action="@{/loginUsuario}">
        <div class="form-group">
            <label for="userId">ID de Usuario:</label>
            <input type="text" id="userId" name="userId" required>
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>

<!-- Footer -->
<footer class="vet-footer">
    <div class="footer-content">
        <div class="social-media">
            <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
        </div>

        <div class="footer-links">
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="#">Acerca de</a>
            <a href="#">Testimonios</a>
        </div>

        <div class="footer-contact">
            <p>Teléfono: (123) 456-7890</p>
            <p>Email: woof-woof@veterinariadrpaws.com</p>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>
