<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascota</title>
    <link href="/Usuario/Mascota/styles.css" rel="stylesheet">
</head>
<body>

    <section>
        <div class = "parent">
            <div class="left">
                <p class="miTit">Mi mascota</p>
                <img th:src="@{'/Usuario/Imagen/'+${mascota.imagen}+'.jpg'}" width="500px" height="340px" alt="'Imagen de perro">
            </div>
            <div class="right">
                <div class = "info">
                    <ul>
                        <p class="TitInfo">Información</p>
                        <li>Nombre: <span th:text="${mascota.nombre}"></span></li>
                        <li>Raza: <span th:text="${mascota.raza}"></span></li>
                        <li>Edad: <span th:text="${mascota.edad}"></span></li>
                        <li>Peso: <span th:text="${mascota.peso}"></span></li>
                    </ul>
                </div>
                <div class="Enfe">
                    <p class="TitEnfe">Enfermedades</p>
                    <ul>
                        <li th:text="${mascota.enfermedad}"></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</body>
</html>