<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Porque-Nosotros/stylePorqueNosotros.css">
    <title>Veterinaria - Por qué nosotros</title>

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <!-- Fin del Font  -->

    <!-- Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fin del Footer-->
</head>
<body>

    <!-- Header -->
    <header>
        <a href="/"  class="logo">DR.PAWS</a>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="/porqueNosotros">About</a></li>
            <li><a href="/loginVeterinario">Login Administrativo</a></li>
            <li><a href="/loginUsuario">Login Usuario</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
    <!-- Fin del Header -->


    <!-- Sección "Por qué nosotros" -->
    <section class="reasons-section">
        <h2>¿Por qué elegir a DR.PAWS?</h2>
        <div class="reasons-container">
            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_01.jpg" alt="Expertos Veterinarios">
                <h3>Expertos Veterinarios</h3>
                <p>Contamos con un equipo de profesionales altamente capacitados y dedicados al cuidado y bienestar de tu mascota.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_02.jpg" alt="Tecnología Avanzada">
                <h3>Tecnología Avanzada</h3>
                <p>Usamos equipos de última generación para diagnósticos precisos y tratamientos efectivos.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_03.jpg" alt="Atención Personalizada">
                <h3>Atención Personalizada</h3>
                <p>Cada mascota recibe un trato personalizado, garantizando su confort durante su estancia con nosotros.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_04.jpg" alt="Precios Competitivos">
                <h3>Precios Competitivos</h3>
                <p>Ofrecemos tratamientos de alta calidad a precios competitivos en el mercado.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_05.png" alt="Emergencias 24/7">
                <h3>Emergencias 24/7</h3>
                <p>Entendemos que las emergencias no tienen horario. Por eso, ofrecemos atención inmediata las 24 horas, los 7 días de la semana, asegurando la rápida atención a tu mascota en momentos críticos.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_06.jpg" alt="Trato Amable y Cálido">
                <h3>Trato Amable y Cálido</h3>
                <p>Nuestro personal se esfuerza por generar un ambiente amable y cálido. Creemos que el amor y la comprensión son esenciales para la recuperación y bienestar de cada animalito que nos visita.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_07.jpg" alt="Educación Continua">
                <h3>Educación Continua</h3>
                <p>Nos esforzamos por mantenernos al día con las últimas investigaciones y avances en medicina veterinaria. Nuestro equipo participa regularmente en talleres y seminarios para brindar siempre el mejor servicio.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_08.jpg" alt="Instalaciones Modernas">
                <h3>Instalaciones Modernas</h3>
                <p>Nuestras instalaciones están diseñadas para proporcionar un entorno seguro, higiénico y cómodo para tu mascota. Desde salas de espera acogedoras hasta quirófanos equipados con tecnología punta, lo tenemos todo para cuidar de tu amigo peludo.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_09.png" alt="Programas Preventivos">
                <h3>Programas Preventivos</h3>
                <p>Además de tratar enfermedades y condiciones existentes, ofrecemos programas de prevención y bienestar para garantizar que tu mascota esté siempre en su mejor condición, evitando enfermedades futuras.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_10.jpeg" alt="Terapias Alternativas">
                <h3>Terapias Alternativas</h3>
                <p>Reconocemos que cada mascota es única. Por eso, además de los tratamientos convencionales, ofrecemos terapias alternativas como acupuntura, masajes y aromaterapia para asegurar un enfoque holístico en el cuidado de tu animal.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_11.jpg" alt="Red de Especialistas">
                <h3>Red de Especialistas</h3>
                <p>En casos complejos, contamos con una extensa red de especialistas a los que podemos referir para asegurar que tu mascota reciba el mejor tratamiento posible en cualquier circunstancia.</p>
            </div>

            <div class="reason-card">
                <img src="/Porque-Nosotros/Resources/PorqueNosotros_12.jpg" alt="Compromiso Ambiental">
                <h3>Compromiso Ambiental</h3>
                <p>Nos preocupamos por el planeta. Implementamos prácticas sostenibles en nuestras operaciones diarias y promovemos la responsabilidad ecológica en cada aspecto de nuestro trabajo.</p>
            </div>

        </div>
    </section>
    <!-- Fin de la sección "Por qué nosotros" -->

    <!-- Sección de video y tratamiento innovador -->
    <div class="innovative-container">
        <h2>El Método de Rejuvenecimiento Canino HoloMatrix™</h2>
        <div class="innovative-section">
            <!-- Video de YouTube -->
            <div class="innovative-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qM-f-uKK5zs?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <!-- Descripción del tratamiento futurista -->
            <div class="innovative-description">
                <p>En el corazón de la clínica Dr. Paws, hemos desarrollado una revolucionaria técnica conocida como el <strong>Método de Rejuvenecimiento Canino HoloMatrix™</strong>. Utilizando avanzada nanotecnología combinada con bioingeniería y hologramas, somos capaces de proyectar un campo energético alrededor de tu mascota, revitalizando sus células desde el interior.</p>
                <p>Este campo, sintonizado con la biofrecuencia única de cada perro, facilita la aceleración de la regeneración celular, permitiendo a los perros recuperarse de lesiones en cuestión de minutos, aumentar su longevidad y mejorar su calidad de vida de maneras nunca antes vistas.</p>
                <p>Con HoloMatrix™, tu mejor amigo peludo no sólo se sentirá más joven, sino que también experimentará niveles de energía y alegría comparables a su juventud. ¡Ven y descubre el futuro del cuidado canino hoy mismo en Dr. Paws!</p>
            </div>
        </div>
    </div>
    <!-- Fin de la sección de video y tratamiento innovador -->

    <!-- Footer -->
    <footer class="vet-footer">
        <div class="footer-content">
            <div class="social-media">
                <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
            </div>

            <div class="footer-links">
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
                <a href="/porqueNosotros">About</a>
                <a href="#">Testimonios</a>
            </div>

            <div class="footer-contact">
                <p>Teléfono: (123) 456-7890</p>
                <p>Email: woof-woof@veterinariadrpaws.com</p>
            </div>
        </div>
        <div class="footer-bar">
            <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
        </div>
    </footer>
<!-- Fin del Footer-->

</body>
</html>
