<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonios - DR. PAWS</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Testimonios/stylesTestimonios.css">

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <!-- Fin del Font  -->

    <!-- Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fin del Footer-->
</head>
<body>
<!-- Header -->
<header>
    <a href="/" class="logo">DR.PAWS</a>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/porqueNosotros">About</a></li>
        <li><a href="/loginVeterinario">Login Administrativo</a></li>
        <li><a href="/loginUsuario">Login Usuario</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>
<!-- Fin del Header -->


<!-- Sección de Testimonios -->
<!-- Sección de Testimonios -->
<h2 class="carrusel-titulo">Testimonios</h2>
<div class="carrusel-container">
    <button class="carrusel-button" id="prev" onclick="mover(-1)">&#10094;</button>
    <div class="carrusel">
        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/TheWeeknd-Testimonio.jpg" alt="Imagen 1">
            <p><i>"Desde que llevé a Max a Dr. Paws, su salud ha mejorado increíblemente. El equipo es amable y
                realmente se preocupa por el bienestar de mi peludo. ¡Recomendado al 100%!"</i></p>
            <h2 class="nombreTestimonio"><strong>- The Weeknd, 2019.</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/Madonna-Testimonio.png" alt="Imagen 2">
            <p><i>"Mi perrita Bella tuvo una complicación y el equipo de Dr. Paws la atendió con tanto amor y
                profesionalismo. Ahora Bella corre y juega como si nada hubiera pasado. ¡Gracias!"</i></p>
            <h2 class="nombreTestimonio"><strong>- Madonna, 23 A.C</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/EltonJohn-Testimonio.jpeg" alt="Imagen 3">
            <p><i>"Dr. Paws es simplemente el mejor. Cada vez que llevo a Rocky, sé que está en las mejores manos. Su
                pasión y dedicación por los animales es evidente."</i></p>
            <h2 class="nombreTestimonio"><strong>- Elton John, 1993.</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/Adele-Testimonio.jpeg" alt="Imagen 4">
            <p><i>"Nunca había visto a mi perro Toby tan tranquilo en una clínica veterinaria. El ambiente en Dr. Paws
                es calmado y todos son tan amables. ¡Definitivamente volveremos!"</i></p>
            <h2 class="nombreTestimonio"><strong>- Adele, 2023.</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/MickJagger-Testimonio.jpg" alt="Imagen 5">
            <p><i>"Después de visitar varios veterinarios, finalmente encontré a Dr. Paws. Su enfoque holístico y su
                atención personalizada han hecho maravillas para mi viejo amigo Bruno."</i></p>
            <h2 class="nombreTestimonio"><strong>- Mick Jagger, 2002</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Home/images/imagen2_porqueNosotros.jpeg" alt="Imagen de perro feliz">
            <p><i>"Woof woof, woof-woof woof! Woof, woof woof woof. Woof? Woof woof!"</i></p>
            <h2 class="nombreTestimonio"><strong>- Un perro, 2023.</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/PetShopBoys-Testimonios.jpg" alt="Imagen 7">
            <p><i>"Hemos tenido a nuestro perro Rex en Dr. Paws. Él ha tenido problemas de salud toda su vida. Desde que empezamos a visitar a Dr. Paws, ha
                tenido una recuperación asombrosa. No puedo agradecerles lo suficiente, les voy a dedicar un disco."</i></p>
            <h2 class="nombreTestimonio"><strong>- Pet Shop Boys, 2010.</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/MichaelJackson-Testimonio.png" alt="Imagen 8">
            <p><i>"La atención y el cariño que el equipo de Dr. Paws muestra a cada animal es inigualable. Mi perro
                Charlie siempre es tratado como si fuera el único paciente."</i></p>
            <h2 class="nombreTestimonio"><strong>- Michael Jackson</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Testimonios/Resources/ImagenesTestimonios/FreddyMercury-Testimonio.jpg" alt="Imagen 9">
            <p><i>"Estaba preocupado por la cirugía de mi perro Sam, pero el equipo de Dr. Paws me tranquilizó y se
                encargó de todo. Ahora Sam está más feliz y saludable que nunca."</i></p>
            <h2 class="nombreTestimonio"><strong>- Freddie Mercury</strong></h2>
        </div>

        <div class="carrusel-diapositiva">
            <img src="/Home/images/imagen2_porqueNosotros.jpeg" alt="Imagen 10">
            <p><i>"No hay palabras para describir lo agradecido que estoy con Dr. Paws. Mi perrita Daisy tuvo una
                emergencia y ellos la atendieron de inmediato, salvando su vida. Son verdaderos ángeles."</i></p>
            <h2 class="nombreTestimonio"><strong>- Tina Turner</strong></h2>
        </div>
    </div>
    <button class="carrusel-button" id="next" onclick="mover(1)">&#10095;</button>
</div>
<!-- Fin de la sección de Testimonios -->


<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
    <div class="footer-content">
        <div class="social-media">
            <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
        </div>

        <div class="footer-links">
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="/contacto">Contacto</a>
            <a href="/porqueNosotros">Acerca de</a>
            <a href="/porqueNosotros/testimonios">Testimonios</a>
        </div>

        <div class="footer-contact">
            <p>Teléfono: (123) 456-7890</p>
            <p>Email: woof-woof@veterinariadrpaws.com</p>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
    </div>
</footer>
<!-- Fin del Footer-->

<script src="/Testimonios/scriptTestimonios.js"></script>
</body>
</html>

