<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ver-Mascota/stylesVerMascota.css">
    <title>Dr. Paws - Información de mascota</title>

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <!-- Fin del Font  -->

    <!-- Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Fin del Footer-->
</head>
<body>
<!-- Header -->
<header>
    <a href="/"  class="logo">DR.PAWS</a>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/porqueNosotros">About</a></li>
        <li><a href="/loginVeterinario">Login Administrativo</a></li>
        <li><a href="/loginUsuario">Login Usuario</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>
<!-- Fin del Header -->



<!-- Sección principal que contiene la información de la mascota -->
<section class="mascota-section">
    <!-- Div padre que agrupa la información y la imagen de la mascota -->
    <div class="mascota-container">
        <!-- Título "Mi mascota" -->
        <h2>Mi Mascota</h2>
        <!-- Parte izquierda del div que muestra la imagen de la mascota -->
        <div class="mascota-image">
            <img th:src="@{'/Imagenes/Perros/' + ${mascota.getImagen()}}" alt="Imagen de la mascota">
        </div>
        <!-- Parte derecha del div que muestra la información de la mascota en forma de tabla -->
        <table class="mascota-info">
            <tr>
                <th>Nombre</th>
                <td th:text="${mascota.nombre}"></td>
            </tr>
            <tr>
                <th>Raza</th>
                <td th:text="${mascota.raza}"></td>
            </tr>
            <tr>
                <th>Edad</th>
                <td th:text="${mascota.edad}"></td>
            </tr>
            <tr>
                <th>Peso</th>
                <td th:text="${mascota.peso}"></td>
            </tr>
        </table>
    </div>
</section>

<!-- Sección de enfermedades debajo del recuadro principal -->
<section class="enfermedades-section">
    <h3>Enfermedades</h3>
    <ul class="mascota-enfermedades">
        <li th:text="${mascota.enfermedad}"></li>
    </ul>
</section>







<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
    <div class="footer-content">
        <div class="social-media">
            <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
        </div>

        <div class="footer-links">
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="/porqueNosotros">About</a>
            <a href="#">Testimonios</a>
        </div>

        <div class="footer-contact">
            <p>Teléfono: (123) 456-7890</p>
            <p>Email: woof-woof@veterinariadrpaws.com</p>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
    </div>
</footer>
<!-- Fin del Footer-->
</body>
</html>