@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#8B65BF, #BFADD9);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #4d3173, transparent);
  z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#moon {
  mix-blend-mode: screen;
  z-index: -11;
}

section img#mountains_front {
  z-index: -8;
}

section img#mountains_behind {
  z-index: -10;
}

section img#stars {
  z-index: -12;
}

#titulo {
  position: absolute;
  white-space: nowrap;
  font-size: 7.5vh;
  right: -350px;

  z-index: -9;
}

.margen {
  background-color: #4d3173;
  position: relative;
  margin-bottom: 100pc;
}

/* Menu */
.list {
  list-style-type: none;
}

#Menu {
  padding-top: 30px;
  padding-left: 15%;
  display: flex;
}

#Menu ul {
  margin-top: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 30px;
  height: 30px;

}



.list-container {
  display: flex;
}



#Menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
}

#Menu ul li a {
  color: white;
  text-decoration: none;
}

#Menu img {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 40px;
  border-radius: 300px;
  border: 2px solid white;
  width: 100px;
}


#Menu ul li a:hover {
  background-color: #4d3173;
  border-radius: 20px;
}

/* Fin de menu*/

/* Contenedores de Nosotros */
/* Estilos generales */
.centered-content {
  display: flex;
  flex-direction: column; /* Esto hará que los hijos directos se apilen verticalmente */
  align-items: center; /* Esto centrará los elementos horizontalmente */
  justify-content: center; /* Esto centrará los elementos verticalmente */
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.header-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Espacio entre el título y las cajas */
  width: 100%; /* Aseguramos que el título ocupe todo el ancho */
}


.box-row {
  display: flex;
  justify-content: space-between; /* Esto garantiza que haya espacio entre las cajas */
  width: 100%;
}

.box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Los cuadrados crecerán para llenar el espacio disponible */
  flex-basis: calc(33.33% - 30px); /* Restamos el margen derecho */
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-right: 30px; /* Agregamos un margen derecho a cada caja */
}

/* Quitamos el margen derecho a la última caja para que no haya un espacio extra al final */
.box-item:last-child {
  margin-right: 0;
}

.box-item:hover {
  transform: rotate(-2deg);
  background-color: #e6e6e6;
}

.box-item img {
  height: 250px;
  width: 350px;
  object-fit: cover;
  margin: 10px 0; /* Agregar un poco de margen arriba y abajo para separar la imagen del título y del borde de la caja */
  transition: transform 0.5s ease; /* Si quieres alguna animación en la imagen cuando se pasa el mouse */
  border-radius: 100%;
  border-style: solid;
  border-width: 0.5px;
}

.box-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 10px; /* Añadir un margen en la parte superior para separar el título de la imagen */
  margin-bottom: 10px; /* Añadir un margen en la parte inferior para separar el título del párrafo */
}

.parrafo-porqueNosotros
{
  padding: 20px;
}

/* Fin de "Contenedores de Nosotros" */