/* Diseño de la página general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Menu */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    background: linear-gradient(to left,#cb3963,rgb(220, 0, 77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-family: 'Borel', cursive;
}

header ul
{
    display:flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    border-radius: 20px;
    padding: 6px 15px;
    color:rgb(220, 0, 77);
}

header ul li a:hover,
.active
{
    background:#fff;
    color: #2b1055;
}

/* Fin de menu*/


body::before {
    content: "";
    position: fixed;  /* Se asegura de que el cuadrado quede fijo y ocupe toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); /* Blanco con un 70% de opacidad */
    z-index: -1;  /* Se asegura de que el cuadrado quede detrás del contenido */
}



/* Estilo general del cuerpo y fondo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('Resources/background.png'), linear-gradient(to bottom,rgb(118, 248, 241), #d1cdd7); /* Añadido el gradiente después de la imagen */
    background-size: cover, cover; /* La primera 'cover' corresponde a la imagen, la segunda al gradiente */
    background-repeat: no-repeat, no-repeat; /* La primera 'no-repeat' corresponde a la imagen, la segunda al gradiente */
    background-position: center center, center bottom; /* Posicionamos la imagen al centro y el gradiente abajo */
    height: 100vh; /* Considera si este ajuste es apropiado dependiendo del contenido de tu página */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6faec5;  /* Se mantiene este color azulado como color de fondo base */
    min-height: 100vh;
}
/* Fin de estilo general del cuerpo y fondo */





/* Estilos del carrusel */
.carrusel-titulo {
    text-align: center;
    margin-top: 100px;
    color: #ff0000ce;

    white-space: nowrap;
    font-size: 3.5vw;
    z-index: 0;
    font-family: 'Borel', serif;
}


.carrusel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    perspective: 10000px;
}

.carrusel {
    width: 80%;
    position: relative;
    transform-style: preserve-3d;
    height: 300px; /* Añadido para definir una altura para el carrusel */
    transition: transform 1.5s ease;
}

.carrusel-contenido {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.carrusel-diapositiva {
    position: absolute;
    top: 0;
    left: 25%; /* Centrar el contenido translúcido al 50% del ancho */
    width: 50%; /* Hacer que el contenido translúcido ocupe solo el 50% del ancho */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(0deg) translateZ(-300px);
    border-radius: 15px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.9); /* Aumenta la opacidad aquí */
    transition: transform 1.5s ease, opacity 1.5s ease, z-index 1.5s step-end;
}

.nombreTestimonio {
    font-size: 10   px; /* Ajusta según lo pequeño que quieras el texto */
    margin-left: -50%; /* Ajusta según cuánto quieras mover el texto a la izquierda */
    margin-top: 20px;
}

.carrusel-diapositiva h2 {
    color: #ff0000ce;
}

.carrusel-diapositiva p {
    color: black;
}


.carrusel-diapositiva img {
    width: 250px; /* Ajusta este valor según lo grande que quieras la imagen */
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 1); /* Aumenta la opacidad aquí */
    transition: transform 0.5s, opacity 0.5s; /* Agrega una transición a la opacidad */
    object-fit: scale-down ;
}

.carrusel-diapositiva h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carrusel-diapositiva p {
    font-size: 16px;
    text-align: center;
}

.carrusel-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}


#prev {
    left: 0;
}

#next {
    right: 0;
}

.carrusel-button:focus {
    outline: none;
}

/* Fin del carruell */

















/* Footer */
.vet-footer {
    background-color: #A1C7E0;
    color: #026E81;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.social-media, .footer-links, .footer-contact {
    flex: 1;
    text-align: center;
}

.social-icon {
    margin: 0 15px;
    font-size: 24px;
}

.footer-links a {
    margin: 0 10px;
    color: #026E81;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bar {
    margin-top: 20px;
    width: 100%;
    background-color: #026E81;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/*Fin del Footer */